body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.thank-you-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  color: #fff;
  background-color: hsl(0, 100%, 50%);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.return-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
